
	body {
		background: #fff;
	}

	body, input, select, textarea {
		color: #646464;
		font-family: "Lato", Helvetica, sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.75em;
	}



	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}


	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #949494;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.75em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.85em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.75em;
		line-height: 1.5em;
	}

	header.major {
		text-align: center;
	}

		header.major h2 {
			font-size: 2.35em;
		}

		header.major p {
			margin: -1em 0 3.5em 0;
		}

	.box {
		border-radius: 0.5em;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 2em;
	}

		.box.post {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

			.box.post .image:first-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				margin: -2em 0 2em -2em;
				width: calc(100% + 4em);
			}





	.image {
		border-radius: 0.5em;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			object-fit: cover;
			position: relative;
			border-radius: 0.5em;
			display: block;
		}

		.image.fit {
			object-fit: cover;
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				object-fit: cover;
				display: block;
				width: 100%;
			}

	ul {
		list-style: none;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

			ul.icons li {
				display: inline-block;
				padding: 0 1.25em 0 0;
			}


				ul.icons li .icon {
					border-radius: 0.5em;
					border: solid 1px rgba(144, 144, 144, 0.25);
					color: #949494;
					display: inline-block;
					font-size: 1.25em;
					height: 2.75em;
					line-height: 2.75em;
					text-align: center;
					width: 2.75em;
				}


	.button {
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 0.5em;
		border: solid 1px rgba(144, 144, 144, 0.25);
		color: #545454 ;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 700;
		height: 3.5em;
		letter-spacing: 0.1em;
		line-height: 3.5em;
		overflow: hidden;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		text-overflow: ellipsis;
		text-transform: uppercase;
	}

		.button:hover {
			background-color: rgba(144, 144, 144, 0.1);
			color: #545454 ;
		}



	.feature {
		padding-left: 6.5em;
		position: relative;
		text-align: left;
	}


	.wrapper {
		padding: 5em 0 3em 0;
	}
	
		.wrapper.style3 {
			background: #e0555a;
			color: #ffffff;
		}

			.wrapper.style3 .button {
				border-color: white !important;
				color: #ffffff !important;
			}






	#header {
		background-color: #e0555a;
		height: 3em;
		left: 0px;
		line-height: 3em;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 10000;
	}

		#header.alt {
			color: #fff;
		}

		#header h1 {
			color: inherit;
			font-size: 1em;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}





		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 1.5em;
			top: 0;
			vertical-align: middle;
		}
				#header nav > ul > li {
					border-radius: 0.5em;
					display: inline-block;
					margin-left: 2em;
					padding-left: 0;
				}

					#header nav > ul > li a {
						border: 0;
						color: inherit;
						display: inline-block;
						text-decoration: none;
					}





	#banner {
		background-attachment:fixed;
		background-image:url("../images/banner.jpg");
		background-size:cover;
		color: #ffffff;
		padding: 16em 0;
		text-align: center;
	}

			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.75);
			}

			#banner .button:active {
				background-color: rgba(255, 255, 255, 1);
				
			}

		#banner h2 {
			font-size: 3.25em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}



	#cta {
		text-align: center;
		vertical-align: middle;
	}

	.Zoom {
        width: 20%;
        height: 20%;
        margin: 0 auto;
    }
       
    .Zoom img {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
       
    .Zoom:hover img {
        transform: scale(1.5);
    }

