select, textarea, input{
    display: block;
}
form{
    margin-left: 2em;
    margin-top: 2em;
}
.btn-primary{
    background-color: #e0555a;
    border-color: #e0555a;
}

.form-group{
    width: 20%;
}

#header {
    background-color: #e0555a;
    height: 3em;
    left: 0px;
    line-height: 3em;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
}

    #header.alt {
        color: #fff;
    }

    #header h1 {
        color: inherit;
        font-size: 1em;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
    }





    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 1.5em;
        top: 0;
        vertical-align: middle;
    }
            #header nav > ul > li {
                border-radius: 0.5em;
                display: inline-block;
                margin-left: 2em;
                padding-left: 0;
            }

                #header nav > ul > li a {
                    border: 0;
                    color: inherit;
                    display: inline-block;
                    text-decoration: none;
                }



